*{
    margin:0;
    padding:0;
}

.header{
    position: fixed;
    z-index:100;
    background-color: #fff;
    padding:20px;
    top:0;
    box-shadow: 0 6px 12px rgba(0,0,0,.05);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.a0{
    display:block;
    background-image: url(../img/logo.png);
    background-position: 73px 0px;
    background-repeat: no-repeat;
}
.a1{
    color: #000;
    font-size: 1rem;
    white-space: nowrap;
    display: block;
    font-weight:500;
}
.div-bottom{
    position: absolute;
    display: none;
    width: auto;
    top:50px;
    padding: 16px 32px 16px 16px;
    line-height: 27px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 5px 30px 5px rgba(69,79,91,.2);
    border-radius: 3px;
    text-align: left;
    font-weight: 200;
    z-index: 10;

}
.div-bottom ul li a{
    color: #000;
    font-size: 1rem;
}
.div-bottom ul li a:hover{
    color:#e83e8c;
}
.dd:hover .div-bottom{
    display: block;
}
.a2,.a3{
    border:none;
    padding:10px 15px;
    font-size:13px;
    border-radius: 50px;
    background-image: linear-gradient(#FF4F47 0%, #FF7A47 100%);
}
.a3{
    color:#FF4F47;
    background: #fff;
    padding:6px 15px;
    border:1px solid #FF4F47;
}

.news{
    background: #323232;
    color:#fff;
}
.hw{
    opacity:1;
    color: rgba(43, 42, 31, 0.61);
    font-weight: 200;
    font-family: "宋体";
}
.title{
    color: rgb(34, 34, 34);
    text-align: center;
    font-size: 3.375rem;
    line-height: 4.6875rem;
    font-weight: 800;
}
.carousel-item img{
    width:100%;
}
.de{
    margin:0 auto;
    margin-left:20rem;
}
.second{
    position: relative;
    overflow: hidden;
    padding-top: 33px;
    /* width: 35.18%; */
    height: 224px;
    border-top: 1px solid #DDD;
    margin-left:3rem;
}
.second img{
    position: absolute;
    left: 0;
    width: 90px;
    height: 100px;
    background-size: 100% 100%;
}
.second .word{
    padding-left: 150px;

}
.second .word .number{
    display: block;
    color: #FF8647;
    letter-spacing: -.1rem;
    font-size: 4.5rem;
    font-family:"Microsoft Yahei";
    font-weight: 400;
    line-height: 5.375rem;
}
.zw{
    margin: 0;
    color: #222;
    letter-spacing: 0;
    font-size: 1rem;
    font-family: PingFangSC-Light;
    line-height: 1.625rem;
}
/*==========================================第三页=============================================*/
.three{
    position: relative;
    width: 100%;
    min-width: 320px;
    height:650px;
    background-image: linear-gradient(225deg,#C6AC97 0,#45638C 100%);
}
.three-title h3{
    margin: 0 8px 0 0;
    color: #FFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.8125rem;
    padding-top: 30px;
}
.three-title h1{
    text-align: center;
    letter-spacing: 0;
    font-size: 3.375rem;
    line-height: 4.6875rem;
    font-weight: 800;
    min-width: 450px;
    color: #FFF;
}
.three-bottom{
    position: absolute;
    bottom: 0;
    left: 3rem;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}
.three-bottom ul{
    width: 100%;
    overflow: hidden;
    /* margin: 0 auto; */
    padding-bottom: 10px;
    color: #FFF;
    list-style: none;
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.8125rem;
    /* margin-left: 50px; */

}
.three-bottom ul li{
    font-weight: 400;
    position: relative;
    float: left;
    margin: 0 48px 0 0;
    width:17%;
}
.three-bottom ul li img{
    display: block;
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
}
.three-bottom ul li span{
    font-weight: 900;
    display: block;
    padding-top: 24px;
    text-align: left;
}
.three-bottom ul li p{
    font-weight: 900;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #fff;
    margin-top: 6px;
}
/*========================================第四页========================================*/
.four-title h5{
    color: #666;
    text-align: center;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 1.3125rem;
    line-height: 1.8125rem;
}
.four-title h1{
    margin: 0 auto 48px;
    max-width: 540px;
    font-weight: 800;
    text-align: center;
    color: #222;
    font-size: 3.375rem;
    line-height: 4.6875rem;
}
.four-content{
    width:100%;

}
 .list{
    margin: 0 30px 0 0;
    width: 340px;
    background-image: linear-gradient(257deg,rgba(255,255,255,.81) 0,#FFF 27%);
    box-shadow: 0 20px 60px 0 rgba(0,0,0,.07);
}
 .img1{
     width:100%;
     /*height:350px*/
}
 .ss{
     display: block;
     padding: 36px 36px 32px 32px;
 }
.s1{
    display: block;
    margin-bottom: 12px;
    color: #666;
    /*width:340px;*/
    font-size: .875rem;
    line-height: 1.375rem;
    padding-top: 30px;
}
 .s2{
    display: block;
    min-height: 41px;
    color: #333;
    letter-spacing: 0;
    font-size: 1.125rem;
}
 .img2{
     display: block;
     margin-top: 61px;
     width: 128px;
     height: 48px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }
 .pt{
     padding:6rem;
     clear:both;
}
 .five{
     background-color: rgba(129, 123, 65, 0.52);
     background-image: url(../img/HTB1Z8SumCBYBeNjy0Fe762nmFXaA.png);
     min-width: 320px;
     padding: 96px 0;
     background-position: center;
     background-size: auto 100%;
     background-repeat: no-repeat;
     text-align: center;
     clear:both;
 }
 .five h3{
     color: #666;
     text-align: center;
     letter-spacing: 0;
     font-weight: 300;
     font-size: 1.3125rem;
     line-height: 1.8125rem;
 }
 .five h1{
     font-weight: 800;
     margin: 0 auto 48px;
     max-width: 432px;
     text-align: left;
     color: #222;
    text-align: center;
    letter-spacing: 0;
    font-size: 3.375rem;
    line-height: 4.6875rem;
 }
 .five a{
     display: block;
     margin: 0 auto;
     width: 360px;
     height: 64px;
     border-radius: 89px;
     background-image: linear-gradient(-90deg,#FF7F47 0,#FF4747 100%);
     box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
     text-align: center;
     letter-spacing: .125rem;
     font-size: 1.3125rem;
     line-height: 4rem;
     color:#fff;
 }
 .footer{
     background-color: #181C39;
     width: 100%;
     overflow: hidden;
 }
 .footer-content{
     margin: 0 auto;
     padding: 68px 15px 0 15px;
     max-width: 1280px;
     min-width: 320px;
     width: 100%;
     display: flex;
     border-bottom: 1px solid #3D4B66;
 }
 .b1{
     position: relative;
     padding-top: 30px;
     min-width: 220px;
     margin-right: 5.12%;
     background-image:url(../img/kf.png);
     background-position: 3px -103px;
     background-repeat: no-repeat;

 }
 .b1 span{
     color: #fff;
     font-size: .875rem;
     line-height: 1.45rem;

 }
 .link-express{
     color: #fff;
     letter-spacing: 0;
     font-size: .875rem;
     margin-right: 40px;
     min-width: 60px;
 }
 .link-item{
     margin: 0;
     color: #fff;
     font-size: .875rem;
     display: block;
     margin-bottom: 12px;
     min-width: 130px;
     margin-left: 20px;
 }
 .sell{
     margin: 0;
     color: #fff;
     font-size: .875rem;
     display: block;
     margin-bottom: 12px;
     min-width: 130px;
     margin-left: 20px;
 }
 .sell img{
     width: 100px;
     height: 100px;
     position: absolute;
     display: none;
     z-index: 9;
 }
 .sell:hover img{
     display:block;
 }

.wx-wb{
    margin: 0;
    color: #fff;
    font-size: .875rem;
    display: block;
    margin-bottom: 12px;
    min-width: 130px;
    margin-left: 20px;
}
.wx-wb img{
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
}
.wx-wb:hover img{
    display: block;
}
.bottom-tp{
    background-image: url(../img/kf.png);
    background-position: 150px -48px;
    background-repeat: no-repeat;
}
.item{
    color: #6E7A94;
    position: relative;
    font-size: .875rem;
}
.link-copy p{
    margin: 0 0 1.5em;
    color: #6E7A94;
    font-size: .875rem;
}
/*pc*/
@media screen and (min-width:992px){

}
/*pad*/
@media screen and (min-width:768px) and (max-width:991px){
    .dh{
        display:none;
    }
    .login{
        display:none;
    }
}
/*phone*/
@media screen and (max-width:767px){
    .dh{
        display:none;
    }
    .login{
        display:none;
    }
}
